.brand.svelte-1fqm3qs {
  margin-bottom: 9rem;
  font-size: 19.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .brand.svelte-1fqm3qs {
    margin-bottom: 2.5rem;
    font-size: 9rem;
  }
}

.brand.svelte-1fqm3qs {
  letter-spacing: 0.25em;
}

.slogan.svelte-1fqm3qs {
  font-size: 4.9rem;
  letter-spacing: 0.75em;
  color: #e4e6eb;
  font-family: type-regular;
}

@media (min-width: 768px) {
  .slogan.svelte-1fqm3qs {
    font-size: 3.75rem;
    line-height: 1;
  }
}
