video.svelte-4te7q7 {
  --tw-scale-x: 1.4;
  --tw-scale-y: 1.4;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 1024px) {
  video.svelte-4te7q7 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .section-title.svelte-4te7q7 {
    font-size: 6rem;
    line-height: 1;
  }
}

.section-content.svelte-4te7q7 {
  z-index: 10;
  overflow: visible;
}

@media (min-width: 1024px) {
  .section-content.svelte-4te7q7 {
    margin-top: 4rem;
    line-height: 2.5rem;
    font-size: 2rem;
  }
}
